.inicio {
  width: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 40px;
  color: #333333;
}

.Total {
  width: 1080px;
}

/* NavBar */

.NavBar {
  background-color: #395551;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 80px;
  color: white;
}

a {
  text-decoration: none;
}

a:visited {
  color: white; /* Color del enlace visitado */
}

.nombre {
  font-size: 35px;
  margin-left: 20px;
}

.utilities {
  display: flex;
  flex-direction: row;
}

.utilities ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.utilities button {
  width: 40px;
  height: 50px;
  background-color: transparent;
  border: none;
  margin-right: 10px;
  margin-left: 15px;
  cursor: pointer;
}

.utilities button svg {
  width: 25px;
  height: 25px;
}

/* Divisa Selector */

.divisa {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.divisa select {
  height: 30px;
  width: 60px;
  border-radius: 5px;
  padding-left: 5px;
}

/* Banner Promo */

.PromoBanner {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.PromoBanner img {
  width: 100%;
  display: block;
  filter: brightness(50%);
}

.PromoBanner .contentPromo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding: 20px;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infobanner {
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.infobanner p {
  font-size: 30px;
  margin: 10px 0;
  font-weight: 400;
}

.infobanner h2 {
  font-size: 50px;
  margin: 0px;
}

.infobanner small {
  font-size: 15px;
  color: white;
}

.infobanner button {
  margin-top: 20px;
  width: 120px;
  height: 40px;
  border-radius: 0;
  border: none;
  letter-spacing: 2px;
  font-weight: 600;
  cursor: pointer;
}

.grant {
  padding: 5px 20px;
  background-color: #cc5232;
  font-size: 25px;
  font-weight: bold;
  max-width: 200px;
  height: 180px;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.grant p {
  margin: 0;
}

#firstp {
  color: black;
  font-size: 40px;
}

#envios {
  height: 40px;
  color: white;
  background-color: #cc5232;
  display: flex;
  justify-content: flex-start;
  padding-left: 25px;
  font-size: 20px;
  align-items: center;
}

/* Promociones */

.ofertones {
  height: 420px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.prodoff {
  width: auto;
  background-color: #f0f0f0;
  cursor: pointer;
}

.prodoff img {
  width: 100%;
}

.prodoff .price {
  display: flex;
  gap: 5px;
}

.prodoff p {
  margin: 10px;
  font-weight: 600;
}

.separation {
  width: 100%;
  height: 60px;
}

#lastprice {
  text-decoration: line-through;
  color: grey;
}

#newprice {
  font-size: 25px;
}

.addCart {
  display: flex;
  justify-content: center;
}

.addCart button {
  border: none;
  background-color: #cc5232;
  color: white;
  height: 40px;
  transition: all 300ms;
  cursor: pointer;
}

.addCart button:hover {
  background-color: #9c3e27;
}

/* Marcas */

.marcas {
  height: 400px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.brand {
  width: auto;
}

.brand .banner {
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.brand img {
  width: 100%;
}

.brandbody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px 0px;
  background-color: #f0f0f0;
}
.brandbody small {
  font-size: 15px;
  color: #333333;
  margin-bottom: 5px;
}

.brandbody p {
  margin: 5px;
  font-size: 20px;
  font-weight: 600;
}

/* All Products */

.allprods {
  margin-top: 40px;
}

/* Carrito */

.container-cart-products {
  position: absolute;
  transform: translateX(-235px);
  top: 95px;
  background-color: #395551;
  width: 350px;
  z-index: 999;
  padding: 0 10px;
  max-height: 700px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#cartbutton p {
  position: absolute;
  top: 35px;
  min-width: 12px;
  color: black;
  transform: translateX(14px);
  background-color: white;
  padding: 2px 4px;
  border-radius: 100%;
}

.cart-products {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 20% 70% 10%;
  flex-direction: row;
}

.cart-img {
  display: flex;
  align-items: center;
}

.deletecart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deletecart svg {
  transition: all 300ms;
}

.deletecart svg:hover {
  color: rgb(255, 70, 70);
}

.cart-img img {
  width: 70px;
}

.info-cart-product {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.info-cart-product p {
  margin: 0;
  padding: 6px 0;
  font-weight: 600;
  font-size: 20px;
}

.row-products {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 500px;
  margin-top: 10px;
}

.cart-total {
  margin-top: 15px;
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
}

.hidden-cart {
  display: none;
}

.Pagar {
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

.Pagar button {
  width: 150px;
  color: black;
  background-color: white;
  font-weight: 600;
  letter-spacing: 2px;
}

.Pagar button a {
  color: black;
}
